<div class="row container" *ngIf="stateService.state$ | async as state" [style.--col-count]="state.size">
    <div class="tiles-grid">
        <app-tile
            *ngFor="let tile of state.tiles; let idx = index; trackBy: trackByIdx"
            (clicked)="stateService.tryMakeMove(idx)"
            [value]="tile"
            [disabled]="state.isGameOver"
        ></app-tile>
    </div>

    
    <nb-reveal-card [showToggleButton]="false" class="infos" #rCard>
        <nb-card-front>
            <nb-card accent="primary">
                <nb-card-header>Current game</nb-card-header>
                <nb-card-body>
                    <h3 *ngIf="!state.isGameOver">Player {{state.curPlayer}}'s turn</h3>
                    <h3 *ngIf="state.winner">Player {{state.winner}} has won the game!</h3>
                    <h3 *ngIf="state.isGameOver && !state.winner">The game ended with a draw</h3>
                </nb-card-body>
                <nb-card-footer class="actions">
                    <button nbButton outline status="primary" (click)="stateService.restart()">
                        <nb-icon icon="play-circle-outline"></nb-icon>
                        New game
                    </button>
                    <button nbButton outline (click)="rCard.revealed = true">
                        <nb-icon icon="settings-outline"></nb-icon>
                    </button>
                </nb-card-footer>
            </nb-card>
        </nb-card-front>
        <nb-card-back>
            <nb-card>
                <nb-card-header>Einstellungen</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="settingsForm">
                        <nb-select placeholder="Größe" formControlName="size">
                            <nb-option *ngFor="let size of selectableSizes" [value]="size">{{size}} x {{size}}</nb-option>
                        </nb-select>
                    </form>
                </nb-card-body>
                <nb-card-footer class="actions">
                    <button nbButton outline status="primary" (click)="stateService.setSize(settingsForm.value.size!); rCard.revealed = false">
                        <nb-icon icon="save-outline"></nb-icon>
                        Speichern
                    </button>
                    <button type="button" nbButton outline (click)="rCard.revealed = false">
                        <nb-icon icon="close-circle-outline"></nb-icon>
                    </button>
                </nb-card-footer>
            </nb-card>
        </nb-card-back>
    </nb-reveal-card>
</div>