:host {
    --col-count: 3;
    --grid-size: 400px;
}

.row {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.container {
    display: grid;
    justify-content: space-around;
    gap: 2rem;
}

.tiles-grid {
    width: var(--grid-size);
    height: var(--grid-size);
    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    grid-template-rows: repeat(var(--col-count), 1fr);
    gap: .2rem;
    justify-content: center;
}

.infos {
    --card-margin-bottom: 0;

    nb-card, nb-card-back {
        height: 100%;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: var(--grid-size) 1fr;
    }
}