<div class="row container" *ngIf="stateService.state$ | async as state" [style.--col-count]="state.size">
    <div class="tiles-grid">
        <app-tile
            *ngFor="let tile of state.tiles; let idx = index; trackBy: trackByIdx"
            (clicked)="stateService.tryMakeMove(idx)"
            [value]="tile"
            [disabled]="state.isGameOver"
        ></app-tile>
    </div>

    <nb-card class="infos" accent="primary">
        <nb-card-header>Current game</nb-card-header>
        <nb-card-body>
            <h3 *ngIf="!state.isGameOver">Player {{state.curPlayer}}'s turn</h3>
            <h3 *ngIf="state.winner">Player {{state.winner}} has won the game!</h3>
            <h3 *ngIf="state.isGameOver && !state.winner">The game ended with a draw</h3>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton outline status="primary" (click)="stateService.restart()">
                <nb-icon icon="play-circle-outline"></nb-icon>
                New game
            </button>
        </nb-card-footer>
    </nb-card>
</div>

